.ui-li-thumb{border-radius: 0px!important;}
.ui-li-has-thumb{ padding:0!important; }
.pushh{ font-size:8pt;font-weight:normal; }
.pushm{ font-size:9pt;font-weight:normal;margin-left:60px; }
#logo_image {
  text-align: center;
  margin:0 auto;
}
.vwbtn{
display: block;
margin: 0 auto;
margin-bottom: 10px;
}
.vwlogo{ width: 50%; height: 50%; padding: 10px; }